@use '../global' as g;

.button-box {
  display: inline-block;
  position: relative;
  padding: 1em 3em;
  border: 1px solid #fff;
  color: #fff;
  font-size: 1.2rem;
  overflow: hidden;
  transition: ease 0.2s;
  @include g.mq-min {
    font-size: 1.4rem;
  }
  > .text {
    position: relative;
    z-index: 3;
    line-height: 1.5;
  }
  &:hover > .text {
    color: g.$blue-slate;
  }
  &::before {
    content: '';
    position: absolute;
    bottom:0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 0;
    transition: 0.3s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  }
  &:hover::before{
    height: 100%;  
    background: #fff;
  }
  > .icon {
    position: relative;
    bottom: -0.1em;
    width: 1em;
    height: auto;
    margin-right: 0.5em;
  }
  &.-footer {
    @include g.mq-min {
      order: 1;
    }
  }
  &.-page {
    @include g.mq-max {
      display: block;
      padding: 1em 0.5em;
    }
  }
  &.-contact {
    color: g.$yellow-ironside;
    border-color: g.$yellow-ironside;
    &:hover::before {
      background: g.$yellow-ironside;
    }
    &:hover > .text {
      color: #fff;
    }
  }
}