@use '../global' as g;

.first-loading {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: g.$yellow-pampas;
  transition: all 0.3s;
  &.-fadeout {
    opacity: 0;
  }
}