@use '../global' as g;

.page-container {
  position: relative;
  width: 100%;
  padding: 120px 2vw 120px calc(60px + 2vw);
  background: url(images/profile1.jpg) center center/ cover no-repeat fixed;
  @include g.mq-min {
    padding: 200px 20px 200px 100px;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(g.$darkblue, 0.5), rgba(0, 0, 0, 0.3));
  }
  > .content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
  }
  > .content > .title {
    flex: 1 1 100%;
    position: relative;
    z-index: 1;
    margin-bottom: 80px;
    color: #fff;
    letter-spacing: 0.04em;
    text-align: center;
    @include g.mq-min {
      flex: 0 1 50%;
      position: sticky;
      top: 120px;
      height: calc(100vh - 240px);
      margin: 0;
      border-right: 4px solid #fff;
    }
  }
  > .content > .title::after {
    content: '◀︎ SCROLL';
    display: none;
    position: absolute;
    bottom: 38px;
    right: -68px;
    padding: 0.5em 1em;
    color: g.$blue-bermuda;
    background: #fff;
    font-size: 1.4rem;
    font-weight: 400;
    text-shadow: none;
    transform: rotate(-90deg) translateY(-50%);
    @include g.mq-min {
      display: block;
    }
  }
  > .content > .title > .main {
    display: block;
    line-height: 0.7;
    font-size: 4rem;
    font-weight: 700;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
    @include g.mq-min {
      font-size: 8rem;
    }
  }
  > .content > .title > .main > .-fade {
    display: inline-block;
    opacity: 0;
    transition: 500ms;
    transform: translateY(-50px);
    &.-in {
      opacity: 1;
      transform: translateY(0);
    }
  }
  > .content > .title > .sub {
    margin-bottom: 40px;
    font-size: 1.2rem;
    letter-spacing: 0.06em;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
    @include g.mq-min {
      font-size: 2rem;
    }
  }
  > .content > .title > .menus > .menu {
    margin-bottom: 20px;
  }
  > .content > .body {
    flex: 1 1 100%;
    position: relative;
    z-index: 1;
    color: #fff;
    letter-spacing: 0.07em;
    @include g.mq-min {
      flex: 0 1 50%;
      max-width: 480px;
      padding-left: 40px;
      margin-left: auto;
    }  
  }
  > .content > .body > .title {
    position: relative;
    margin: 160px auto 1em;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    @include g.mq-min {
      font-size: 2rem;
    }
  }
  > .content > .body > .title:first-child {
    margin-top: 0;
  }
  > .content > .body > .title::before {
    content: '';
    position: absolute;
    top: -80px;
    right: -2vw;
    width: 80%;
    height: 1px;
    background: rgba(255, 255, 255, 0.7);
    @include g.mq-min {
      right: 0;
    }
  }
  > .content > .body > .title:first-child::before {
    display: none;
  }
  > .content > .body > .subtitle > .number {
    position: relative;
    left: 0;
    bottom: -0.1em;
    padding-right: 0.2em;
    font-size: 3em;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.7);
  }
  > .content > .body > .text,
  > .content > .body > .lists,
  > .content > .body > .definition {
    width: 100%;
    padding: 0 0.5em;
    margin-bottom: 2em;
    line-height: 2.2;
  }
  > .content > .body > .lists {
    line-height: 2.2;
    font-size: 1.2rem;
  }
  > .content > .body > .lists > .list {
    position: relative;
    padding-left: 2em;
    list-style-position: outside;
  }
  > .content > .body > .lists > .list::before {
    content: '◆';
    position: absolute;
    top: 0.35em;
    left: 0;
    font-size: 0.5em;
    color: rgba(255, 255, 255, 0.7);
  }
  > .content > .body > .definition {
    display: flex;
    flex-flow: row wrap;
    font-size: 1.2rem;
    .term {
      padding-right: 0.5em;
    }
  }
  > .content > .body > .sample {
    width: 100%;
    max-width: 480px;
    padding: 0 0.5em;
    @include g.mq-min {
      width: 80%;
    }
  }
  &.-profile {
    > .content > .body > .definition > .term {
      flex: 0 1 30%;
    }
    > .content > .body > .definition > .desc {
      flex: 0 1 70%;
    }
  }
  &.-price {
    > .content > .body > .definition > .term {
      flex: 1 1 70%;
    }
    > .content > .body > .definition > .desc {
      flex: 1 1 30%;
      min-width: 70px;
    }
  }
}