@use '../global' as g;

.portfolio-container {
  width: 100%;
  padding: 120px 2vw 120px calc(60px + 2vw);
  background: g.$yellow-pampas;
  @include g.mq-min {
    padding: 160px 20px 160px 100px;
  }
  > .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
  }
  > .content > .body {
    flex: 1 1 100%;
    @include g.mq-min {
      flex: 1 1 75%;
      max-width: 640px;
    }
  }
  > .content > .body > .post {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 80px 0 120px;
    border-bottom: 1px solid g.$yellow-ironside;
  }
  > .content > .body > .post:last-child {
    @include g.mq-min {
      border-bottom: none;
    }
  }
  > .content > .body > .post > .title {
    width: 100%;
    margin-bottom: 0.5em;
    font-size: 2rem;
  }
  > .content > .body > .post > .date,
  > .content > .body > .post > .category {
    color: g.$yellow-ironside;
  }
  > .content > .body > .post > .date {
    margin: 0 1em 40px 0.4em;
  }
  > .content > .body > .post > .thumb {
    width: 100%;
    margin-bottom: 40px;
  }
  > .content > .body > .post > .thumb > img {
    width: 100%;
    height: auto;
    @include g.mq-min {
      width: 75%;
    }
  }
  > .content > .body > .post > figure,
  > .content > .body > .post > iframe {
    margin-bottom: 40px;
  }
  > .content > .body > .post > .readmore {
    display: none;
  }
  > .content > .body > .navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  > .content > .body > .navigation > .list > a {
    display: block;
  }
  > .content > .body > .navigation > .list.-prev > a {
    padding: 1em 1em 1em 0;
  }
  > .content > .body > .navigation > .list.-next > a {
    padding: 1em 0 1em 1em;
  }
}