$black: #424242;
$gray: #ccc;
$lightgray: #e8e8e8;
$red: #F45759;
$yellow: #FFF7D4;
$darkyellow: rgb(223, 202, 109);
$orange: #fb6d4e;
$darkorange: #d8411f;
$pink: #ee8290;
$lightpink: #FFE9F4;
$skyblue: #e3f0fc;
$darkblue: #6B86A3;

$gray-dark: #B1B1B1;

$blue-slate: #728395;
$blue-bermuda: #6B86A3;

$yellow-pampas: #F8F7F3;
$yellow-ironside : #777671;
$yellow-graphite: #33312a;

$orange-linen: #F5ECDF;