@use "sass:math";
@use 'mq';

@mixin vw-change($prop, $px, $viewport) {
  #{$prop}: math.div($px / $viewport) * 100 + vw;
}

@mixin vw-range($prop, $minpx, $maxpx, $minvw, $maxvw) {
  $w: $minpx + px; // 最小サイズ
  $x: $maxpx - $minpx; // 最大サイズ - 最小サイズ
  $y: $minvw + px; // 最小画面幅
  $z: $maxvw - $minvw; //最大画面幅 - 最小画面幅
  #{$prop}: calc($w + $x * (100vw - $y) / $z);
  @include mq.mq-max($minvw) {
    #{$prop}: $minpx + px;
  }
  @include mq.mq-min($maxvw) {
    #{$prop}: $maxpx + px;
  }
}