.unMargin {
  margin: 0 !important;
}
._textLeft {
  text-align: left !important;
}
._textCenter {
  text-align: center !important;
}
._textRight {
  text-align: right !important;
}
._fadein {
  opacity: 0;
  transition-duration: 500ms;
  transition-property: opacity, transform;
}
._scrollin {
  opacity: 1;
}
._hoverLink {
  transition: all 0.3s;
}
._hoverLink:hover {
  opacity: 0.7;
}